* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #ccc; 
    font-family: Arial, sans-serif;
    padding: 15px;
}

.separator, .section-hr {
    border: none; 
    height: 1px; 
    background-color: #444; 
    margin: 15px 0; 
}

#main-container {
    max-width: 1200px;
    margin: 0 auto; 
    background-color: #1a1a1a;
    padding: 15px;   
    border: 1px solid #444;
}

#section1 {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid rgb(15, 168, 219);
    gap: 10px;
    padding: 10px;
}


.box {
    padding: 15px;
    background-color: #2c2c2c;
    border: 1px solid white
}

.b1-header {
    flex: 3 1 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 35px;
    
}


.profile-img {
    width: 225px; 
    height: 225px; 
    object-fit: cover;
    margin-bottom: 20;
}

.name {
    color: white;
    font-size: 3.5em;
    
}

.title {
    color: lightblue;
    font-size: 2.5em;
}

.b2-info {
    flex: 1 1 300px;
    background-color: #2c2c2c;
    font-size: 0.9em;
    padding: 15px;
    margin: 1;
}

.info-row {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 10px;
    margin-bottom: 8px; /* 8px*/
    align-items: start;
    margin: 1;
}

.info-label {
    font-weight: bold;
    text-align: right;
    color: #fff;
}

.info-value {
    text-align: left;
}

a { 
    color: #4CAF50; 
    text-decoration: none;
}

a:hover { 
    text-decoration: underline; 
}

.b3-bio {
    flex: 1 1 100%;
    background-color:#2c2c2c;
    padding: 15px;
    margin: 1;
}

.main-content-flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.content-col {
    padding: 10px;
    background-color: #2c2c2c;
}

#section2 {
    flex: 2;
    min-width: 400px;
    border: 4px solid orange;  /*REMOVE*/
}

#section3 {
    flex: 1;
    min-width: 300px;
    border: 4px solid yellow;
}

.section-title {
    font-size: 1.4em;
    color: white;
    border-bottom: 2px solid #555;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.job-hx, .edu-hx, .pro-dev, .cert-title, lic-id {
    margin-bottom: 20px;
}

.job-hx h3, 
.edu-hx h3, 
.pro-dev h3, 
.cert-title h3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    color: #4CAF50;
    font-size: 1.1em;

}

.dates {
    margin: 0 0 0 0;
    font-size: 0.9em;
    color: #aaa;
    white-space: nowrap;
}

.company, .school {
    margin: 3px 0 0 0;
    font-style: italic;
}

.org, .issuer {
    margin: 5px 0 5px 0;
    font-style: italic;
}
.description {
    margin: 0 0 0 5px;
    padding: 10px;    
}

.skill-list {
    column-count: 2;
    column-gap: 50px;
    list-style-position: inside;
    padding: 0;
    list-style: disc;
    display: grid;
    grid-template-columns: 125px 1fr; 
    padding-left: 25px; 
    margin-bottom: 3px;
}

.skill-list1 {
    column-count: 1;
    column-gap: 50px;
    list-style-position: inside;
    padding: 0;
}

.skill-list1 {
    list-style: disc;
    padding-left: 25px; 
    margin-bottom: 15px;
}

.cert-des {
    margin-bottom: 3px;
}



.lang-list {
    list-style: disc;
    display: grid;
    grid-template-columns: 125px 1fr; 
    padding-left: 25px; 
    margin-bottom: 3px;
}

@media (max-width: 768px) {
    #section1, .main-content-flex {
        flex-direction: column;
    }
    
    .box {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }

    #section2, #section3 {
        flex: 1 1 100%;
    }
}