* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #ccc; 
    font-family: Arial, sans-serif;
    padding: 20px;
}

.separator, .section-hr {
    border: none; 
    height: 1px; 
    background-color: #444; 
    margin: 15px 0; 
}


#main-container {
    max-width: 1200px;
    margin: 0 auto; 
    background-color: #1a1a1a;
    padding: 20px;   
    border: 1px solid #444;
}

#section1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border: 2px solid lightblue;
}

.box {
    padding: 15px;
}

.b1-header {
    flex: 1 1 350px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border: 1px solid white;
}

.profile-img {
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0;
}

.name {
    color: white;
    font-size: 1.8em;
}

.title {
    color: lightblue;
    font-size: 1.1em;
}

.b2-info {
    flex: 1 1 300px;
    background-color: #2c2c2c;
    font-size: 0.9em;
    border: 1px solid white;
}

a { 
    color: #4CAF50; 
    text-decoration: none;
}

a:hover { 
    text-decoration: underline; 
}

.b3-bio {
    flex: 1 1 100%;
    background-color:#2c2c2c;
    border: 1px solid white;
}

.main-content-flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.content-col {
    padding: 15px;
    background-color: #2c2c2c;
}

#section2 {
    flex: 2;
    min-width: 400px;
    border: 2px solid orange;  
}

#section3 {
    flex: 1;
    min-width: 300px;
    border: 2px solid yellow;
}

.section-title {
    font-size: 1.4em;
    color: white;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.job-hx, .edu-hx, .pro-dev, .cert-title {
    margin-bottom: 20px;
}

.job-hx h3, .edu-hx h3, .pro-dev h3, .cert-title h3 {
    color: #4CAF50;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
}

.dates {
    font-size: 0.9em;
    color: #aaa;
}

.company, .school, .site, .issuer {
    margin: 5px 0 10px 0;
    font-style: italic;
}

.skill-list {
    list-style: disc; 
    padding-left: 25px; 
    margin-bottom: 15px;
}

.languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}



@media (max-width: 768px) {
    #section1, .main-content-flex {
        flex-direction: column;
    }
    
    .box {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }

    #section2, #section3 {
        flex: 1 1 100%;
    }
}

